@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Marvellous Infosystem is very popular in Pune for Computer Classes. Here, you can learn all kinds of programming
    languages like <b>C,</b><b>C++,</b><b>JAVA,</b><b>Python</b> and much more. Apart from programming, we have batches like <b>Linux System Programming,</b><b>Unix Internals,</b>
    <b> Win32 SDK,</b><b> Android Programming.</b>
</p>
<p>
    So, be a part of Marvellous family, and never stop learning. All the best.
    </p>
