@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Marvellous Infosystem<br />
    Pune, MH-India. <br />
    <abbr title="Phone">P:</abbr>
    +91 9049737771
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:Support@example.com">marvellousadmin@gmail.com</a><br />
    
</address>